@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap');
html{
    font-size: 10px;
    /* base font-size = 10px is easier to calcution rem */
}
body{
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #330;
    margin: 0;
}
h1{
    font-size: 4rem;
    margin-bottom: 0;
}
@media (max-width: 460px){
    #main{
        margin: 0;
    }
    h1{
        font-size: 3.5rem;
        line-height: 1.2;
    }
    #img-caption{
        font-size: 1.4rem;
    }
}
a {
    color: #477ca7;
  }
a:visited {
    color: #74638f;
}
#main{
    /* increase gap from side */
    margin: 30px 8px;
    /* doesn't see any different */
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}
img{
     display: block; 
     /* make img not equal to text so its not at center  */
     max-width: 100%;
     /* this make img responsive */
     height: auto;
     margin: 0 auto;
     /* this make img always at center */
    
}
#img-div{
    margin: 0;
    padding: 10px;
    background: white;
}
#img-caption{
    margin: 15px 0 5px 0;
}
#info--text{
    text-align: center;
    margin: 50px 0;
}
